.card__description {
  align-self: center;
  margin: 40px auto 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

.card__product-number {
  align-self: flex-start;
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 10px;
  color: #616070;
}
